<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Block</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
<div id="header">
    <span>Welcome, {{current_user.name}}</span>
    <form action="/logout" style="display: inline; text-align: right">
    <input type="submit" value="Logout" />
</form>
</div>
<div id="content"></div>
<script src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
</html>